<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Orders</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   <div class="container">
  <h2>Customer Orders</h2>
  <p>Below are orders of past 1 month</p>
  <table class="table">
    <thead>
      <tr>
          <th>Ordername</th>
          <th>Tracking number</th>
          <th>price</th>
          <th>Order date</th>
      </tr>
    </thead>
    <tbody>
    {{for invoice in invoices}}
      <tr>
        <td>invoice.</td>
        <td>Doe</td>
        <td>john@example.com</td>
          <td>01/01/2017</td>
      </tr>

    </tbody>
  </table>
</div>


</body>
</html>