{{extend 'layout.html'}}
<link href="{{=URL('static', 'css/vendor.css')}}" rel="stylesheet" type="text/css" />

<!--Banner for store, figure out how to adjust this-->
{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{=A('Add item',_class='btn btn-info',_href=URL('EasyCommerce','default','add'))}}
</br>

<!--Creates a container for a single category. Each subsequent div represents
    another row of clickable images in the vendor's store. Needs database
    for image/price/name retrieval. Also adjust height. -->
<!-- Need to add javascript for image size adjustment -->
<html>

{{current = 0}}
{{i = 0}}
{{for type in categories:}}
    <div id="category1">
        {{if type.category != current:}}
            {{current = type.category}}
            <h2 class="left_align"><u>{{=type.category}}</u></h2>
            {{for listing in listings:}}
                {{if i%4==0 or i==0:}}
                    <div id="image_col1" class="container">
                {{pass}}

                {{if current == listing.category:}}
                    <a href="{{=URL('EasyCommerce','default','vendor')}}">
                        <img class="center" src="{{=URL('download', args=listing.image)}}" />
                    </a>
                {{pass}}

                {{i = i+1}}
                {{if i%4==0:}}
                    </div>
                {{pass}}
            {{pass}}
            {{i = 0}}
        {{pass}}
    </div>
{{pass}}

<br/><br/><br/>
</html>

<!-- Web2py footer? -->