{{extend 'layout.html'}}
<link href="{{=URL('static', 'css/vendor.css')}}" rel="stylesheet" type="text/css" />

<!--Banner for store, figure out how to adjust this-->
{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

<!--Creates a container for a single category. Each subsequent div represents
    another row of clickable images in the vendor's store. Needs database
    for image/price/name retrieval. Also adjust height. -->
<div id="category1">
    <h2 class="left_align"><u>Food</u></h2>
    <div id="image_col1" class="container">
        <a href="{{=URL('EasyCommerce','default','vendor')}}">
            <img class="center" src="{{=URL('static', 'images', args='bbqpork.jpg')}}"/>
        </a>

        <a href="{{=URL('EasyCommerce','default','vendor')}}">
            <img class="center" src="{{=URL('static', 'images', args='bbqpork.jpg')}}"/>
        </a>

        <a href="{{=URL('EasyCommerce','default','vendor')}}">
            <img class="center" src="{{=URL('static', 'images', args='bbqpork.jpg')}}"/>
        </a>
    </div>
    <div id="image_col2" class="container">
        <a href="{{=URL('EasyCommerce','default','vendor')}}">
            <img class="center" src="{{=URL('static', 'images', args='bbqpork.jpg')}}"/>
        </a>

        <a href="{{=URL('EasyCommerce','default','vendor')}}">
            <img class="center" src="{{=URL('static', 'images', args='bbqpork.jpg')}}"/>
        </a>

        <a href="{{=URL('EasyCommerce','default','vendor')}}">
            <img class="center" src="{{=URL('static', 'images', args='bbqpork.jpg')}}"/>
        </a>
    </div>
    <div id="image_col3" class="container">
        <a href="{{=URL('EasyCommerce','default','vendor')}}">
            <img class="center" src="{{=URL('static', 'images', args='bbqpork.jpg')}}"/>
        </a>

        <a href="{{=URL('EasyCommerce','default','vendor')}}">
            <img class="center" src="{{=URL('static', 'images', args='bbqpork.jpg')}}"/>
        </a>

        <a href="{{=URL('EasyCommerce','default','vendor')}}">
            <img class="center" src="{{=URL('static', 'images', args='bbqpork.jpg')}}"/>
        </a>
    </div>
</div>

<!-- example for button linking-->
</br></br>
<a href="{{=URL('EasyCommerce','default','user')}}">
<button type="button" class="btn btn-info">
    Login
</button>
</a>