<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Easy Commerce</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
  <link href="{{=URL('static','css/w3.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <!-- Custom Fonts -->
    <link href="{{=URL('static','font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

    <script type="text/javascript">

  $(document).ready(function() {
      console.log("ready()");

    var updateTotal=0
    //Buttons
  $('button#add').on('click', function(){
    var r = $(this);
   updateTotal += Number(r.val());
   console.log(updateTotal)
});


   });



    </script>
<body>


</div>
<div class="w3-container w3-padding-64 w3-padding-64 "  id="menu">
    <div class="w3-row-padding">
        {{for listing in listings:}}
         <div class="container w3-third"  id="vendor" >
               <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
                    &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
                    &marker=AIzaSyAs2yAnU5nVe51HBK1dvqaZHhjV1UcoJJE"  class="w3-margin-right" style="width:100%">
              <div class="w3-card" style="width:100%">
                <header class="w3-container w3-light-gray">
                  <h3>Name of vendor</h3>
                </header>
                  <footer class="w3-container w3-light-gray">
                      <i class="fa fa-stars" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>

                  </footer>
                <div class="w3-container w3-light-gray">

                       <div class="w3-container" id="description">
                    <p>Address here!</p>

                  </div>
                </div>
              </div>
        </div>
        {{pass}}
    </div>
</div>
</div>
<div class="w3-container w3-padding-64 w3-padding-64 " id="details">
</div>
</div>

</body>
</html>

