/* create row of images */
div#img_row{
    width:85%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    /* for testing containers*
    border-style: solid;
    border-color: green;*/
}

/* Container for store categories */
div#section {
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: #1e1e1e;
    padding-top: 10px;
    padding-bottom: 10px /* for testing containers*
    border-style: solid;
    border-color: red;*/
}

/* Class to center images */
.center{
    position: relative;
    display: inline-block;
    margin: 0 auto 0 auto;
}

/* Adjust container images to same height/width based on screen size */
/*
.container img{
    width: 25%;
    height: auto;
    margin: 0 2% 5% 2%;
    text-align: center;
}
*/

div#img_block{
    width: 31%;
    display: inline-block;
    float: left;
    margin: 0 1% 1% 1%;
    background-color: #eaeaea;
    border-radius: 3px;
}

#img_block a{
    color: #1e1e1e;
    font-family: "Open Sans", sans-serif;
}

#img_block p{
    font-size: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

/* Extends underline past text */
u:after {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0";
}

/* Class to align left within a container */
.left_align{
    text-align: left;
    margin: 0 0 2% 10%;
    font-size: 250%;
}

/* Adjust underline thickness */
u{
    text-decoration: none;
    border-bottom: 3px solid #1e1e1e;
}